/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    /*margin-bottom: 0;*/
    border-radius: 0;
}
        
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 650px;}
        
/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 550px;
}
        
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
            
    .row.content {height:auto;}
}

body {
    /*background-image: url("http://wallpapercave.com/wp/VMnlaKl.jpg");*/
    background-image: url("https://freeimagesetc.files.wordpress.com/2010/11/img_90941.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

#productDate {
	text-align: right;
}

.errorMessage {
	color: red;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad{
    margin-top:20px;
}

#prodname{
	font-style: italic;
}

/*user.html*/

.panel-body {
    background-color: white;
}

.panel-title {
    border: 0;
}

/*product.html*/

#content {
    border-radius: 0;
    background-color: white;
}

#checkmarktext{
	font-style: italic;
	font-size: 10px;
}

#checkmark #checkmarktext{
	display: inline-block;
	vertical-align: middle;
}

#productbody {
    border-left: 1px solid black;
    text-align: left;
    padding-left: 20px;
}

/*logout.html*/
#logout {
    text-align: center;
    background-color: white;
    width: 50%;
}

/*checkout.html*/
#checkout {
    background-color: white;
}

#total {
    text-align: right;
}
